<html>
<head>
  <title>Makers BnB by Team LAMP</title>
</head>
<body>
  <h1>Makers BnB</h1>
  <div id="account controls">
    <button type="submit" id="register">Register</button>
    <button type="submit" id="login">Login</button>
  </div>
  <!-- <div id="tempProperty">
    <h3>House 1</h3>
    <img src="http://designchair.co.uk/wp-content/uploads/2009/11/hpo1.jpg">
    <div id="price">
      PPN = £100
    </div>
    <button type="submit" id="moreDetails">View more</button> -->
  <!-- </div> -->
  <div id="List of properties">
    <% @properties.each do |property| %>
    <h3><%= property.name %> </h3>
    <p>£<%= property.ppn %> per night</p>
    <form action="/property/<%= property.id %>" method="GET">
      <input type="submit" value="View More">
    </form>
    <% end %>
</body>
<script src="../index.js"></script>
</html>
