<html>
<head>
  <title>Makers BnB by Team LAMP</title>
</head>
<body>
  <h1>Welcome to MakersBnB, <%= @name %>!</h1>
  <div id="account controls">
    <form method="get" action="/register">
      <input type="submit" value="register" id="register" name="register">Register
      <input type="submit" value="login">Login
    </form>
    <form method="get" action="/add-property">
      <input type="submit" value="Add property">Add Property
    </form>
  </div>

  <div>
    <% @properties.each do |property| %>
    <%= property.name %>
    £<%= property.ppn %> per night.
    <br>
    <form action="/property" method="get">
      <input type="submit" value="View More">
    </form>
    <% end %>
  </div>

</body>
</html>
