<html>
<head>
  <title>Makers BnB by Team LAMP</title>
</head>
<body>
  <h1>Welcome to MakersBnB, <%= @name %>!</h1>
  <div id="account controls">
    <form method="get" action="/register">
      <input type="submit" value="register" id="register" name="register">Register
      <input type="submit" value="login">Login
    </form>
  </div>
  <div id="tempProperty">
    <h3>House 1</h3>
    <img src="http://designchair.co.uk/wp-content/uploads/2009/11/hpo1.jpg">
    <div id="price">
      PPN = £100
    </div>
    <button type="submit" id="moreDetails">View more</button>
  </div>
</body>
</html>
