<html>
<head>
  <title>Makers BnB by Team LAMP</title>
</head>
<body>
  <h1><%= @property.name %></h1>
  <%= @property.description %><br />
  £<%= @property.ppn %> per night.

  <% if @availability %>
    <h2>Dates available:</h2>
    <% @availability.each do |date| %>
      <%= date %>
    <% end %>
  <% end %>

</body>
</html>
